version: "3.9"

services:

  db:
    image: postgres:15-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - .env
    restart: always

  redis:
    image: redis:7-alpine
    command: redis-server --appendonly yes
    volumes:
      - redis_data:/data
    restart: always


  web:
    build: .
    command: >
      sh -c "
      python manage.py migrate &&
      gunicorn core.wsgi:application --bind 0.0.0.0:7000
      "
    volumes:
      - .:/app
      - media_data:/app/media
      - static_data:/app/staticfiles
    ports:
      - "7000:7000"
    env_file:
      - .env
    depends_on:
      - db
      - redis
    restart: always

  bot:
    build: .
    command: python manage.py bot
    volumes:
      - .:/app
      - media_data:/app/media
    env_file:
      - .env
    depends_on:
      - db
      - redis
    restart: always

  celery_worker:
    build: .
    command: celery -A core worker --loglevel=info
    volumes:
      - .:/app
    env_file:
      - .env
    depends_on:
      - db
      - redis
    restart: always

  celery_beat:
    build: .
    command: celery -A core beat --loglevel=info
    volumes:
      - .:/app
    env_file:
      - .env
    depends_on:
      - db
      - redis
    restart: always

volumes:
  postgres_data:
  media_data:
  static_data:
  redis_data: